@page
@model IndexModel
@{
}

<h1>This is the Asset Manager Component</h1>
<p>Display the data input, map and boiler data here</p>

<partial>
@Html.Partial("_DataUpload", Model._dataUploadModel)
</partial>

<img src="~/images/heatington_map.png" alt="Heatington Map" />
