@model Models.SourceDataDbContext

@* TODO add an button that will create a popup window with the required format of the csv file *@
<form method="post" enctype="multipart/form-data">
	<div class="container">
		

		<div class="row">
			@if (Model.IsDataLoaded())
			{
				<label class="form-label">✅ Loaded data file - @Model.loadedDataPath</label>
			}
			else
			{
				<label class="form-label">❌ No data loaded - Please upload heating demand data from a csv file or choose one of the preloaded options</label>
			}

			@if(Model.errorMessage != null) 
			{
				<p>@Model.errorMessage</p>
			}
			<input type="file" name="uploadedFile" class="form-control col" accept=".csv, .vnd.ms-excel, .xlsx" />
			<button type="submit" class="btn btn-primary col-3" name="buttonAction" value="uploadData">Upload</button>
			<div class="d-flex justify-content-start">
			<div class="mt-3">
				<button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataSummer">Use Pre-Provided Summer Period Data</button>
				<button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataWinter">Use Pre-Provided Winter Period Data</button>
			</div>
		</div>
		</div>

		
	</div>
</form>