@model Models.SourceDataDbContext

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Heating Demand Data</title>
    <style>
        .inputContainer {
            text-align: center;
            border-radius: 10px;
            width: 72vw; /* Adjusted width */
            max-width: 1200px;
            font-family: Arial, sans-serif;
            height:100%;
        }

        .fileInputContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: whitesmoke;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }

        .fileInput {
            display: none;
        }

        .fileLabel,
        .fileSubmitButton {
            background-color: #ff9800; /* Orange */
            color: white;
            padding: 12px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            border: none;
            font-size: 16px;
            flex-grow: 1.5; /* Take up available space */
            margin: 0 5px; /* Add some margin between the elements */
            max-width: calc(50% - 1px); /* Limit the maximum width */
        }

        .fileLabel:hover,
        .fileSubmitButton:hover {
            background-color: #f57c00; /* Darker shade of orange */
        }

        .status-success {
            color: green;
        }

        .status-failed {
            color: red;
        }

        .status-none {
            color: black;
        }
    </style>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.loadedDataPath))
                {
                <label class="form-label status-success">✅ Loaded data file - @Model.loadedDataPath</label>
                }
                else
                {
                <label class="form-label status-failed">❌ No data loaded - Please upload heating demand data from a csv file or choose one of the preloaded options</label>
                }

                @if(Model.errorMessage != null) 
                {
                <p class="status-failed">@Model.errorMessage</p>
                }

                <div class="row justify-content-center">
                    <div class="inputContainer">
                        <div class="fileInputContainer">
                            <input type="file" name="uploadedFile" class="form-control fileInput" accept=".csv, .vnd.ms-excel, .xlsx" onchange="uploadFile(this.files[0])" id="fileInput" />
                            <label for="fileInput" class="fileLabel">Select File</label>
                            <button type="submit" class="btn btn-primary fileSubmitButton" name="buttonAction" value="uploadData">Upload Custom</button>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-start mt-3">
                    <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataSummer">Use Pre-Provided Summer Period Data</button>
                    <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataWinter">Use Pre-Provided Winter Period Data</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        function uploadFile(file) {
            var statusLabel = document.querySelector('.form-label');

            if (file) {
                if (file.size > 0) {
                    statusLabel.className = 'form-label status-success';
                    statusLabel.innerText = '✅ File selected - Ready to upload';
                } else {
                    statusLabel.className = 'form-label status-failed';
                    statusLabel.innerText = '❌ Failed to load file - Please try again';
                }
            }
        }
    </script>

</body>

</html>
