@model Models.SourceDataDbContext

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Heating Demand Data</title>
    <style>
        .inputContainer {
            text-align: center;
            border-radius: 10px;
            background-color: lightgrey;
            width: 80vw;
            max-width: 1200px;
            font-family: Arial, sans-serif;
            height:100%;
        }

        .fileInput {
            margin-top: 5px;
            height: 100%;
            width: 70%;
            border: none;
            background-color: lightgray;
            max-height:35px;
        }

        .fileSubmitButton {
            height: 100%;
            width: 30%;
            max-height: 35px;
        }


    </style>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.loadedDataPath))
                {
                <label class="form-label">✅ Loaded data file - @Model.loadedDataPath</label>
                }
                else
                {
                <label class="form-label">❌ No data loaded - Please upload heating demand data from a csv file or choose one of the preloaded options</label>
                }

                @if(Model.errorMessage != null) 
                {
                <p>@Model.errorMessage</p>
                }

                <div class="row justify-content-center">
                    <div class="d-flex justify-content-start inputContainer">
                        <input type="file" name="uploadedFile" class="form-control fileInput" accept=".csv, .vnd.ms-excel, .xlsx" onchange="uploadFile(this.files[0])" id="fileInput" />
                        <button type="submit" class="btn btn-primary fileSubmitButton" name="buttonAction" value="uploadData">Upload Custom</button>
                    </div>
                </div>

                <div class="d-flex justify-content-start mt-3">
                    <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataSummer">Use Pre-Provided Summer Period Data</button>
                    <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataWinter">Use Pre-Provided Winter Period Data</button>
                </div>
            </div>
        </div>
    </form>

    <script>
		function uploadFile(file) {
			var uploadButton = document.querySelector('.btn-primary');

			if (file) {
				if (file.size > 0) {
					//uploadButton.innerText = 'Upload Successfull';
					uploadButton.style.backgroundColor = 'green';
				} else {
					//uploadButton.innerText = 'Upload Failed';
					uploadButton.style.backgroundColor = 'red';
				}
			}
		}
	</script>

</body>

</html>