@model Models.SourceDataDbContext

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Heating Demand Data</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.loadedDataPath))
                {
                <label class="form-label">✅ Loaded data file - @Model.loadedDataPath</label>
                }
                else
                {
                <label class="form-label">❌ No data loaded - Please upload heating demand data from a csv file or choose one of the preloaded options</label>
                }

                @if(Model.errorMessage != null) 
                {
                <p>@Model.errorMessage</p>
                }

                <input type="file" name="uploadedFile" class="form-control" accept=".csv, .vnd.ms-excel, .xlsx" style="display: none;" onchange="uploadFile(this.files[0])" id="fileInput" />
                <label for="fileInput" class="btn btn-primary">Upload Custom</label>

                <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataSummer">Use Pre-Provided Summer Period Data</button>
                <button type="submit" class="btn btn-primary" name="buttonAction" value="loadDataWinter">Use Pre-Provided Winter Period Data</button>
            </div>
        </div>
    </form>

    <script>
		function uploadFile(file) {
			var uploadButton = document.querySelector('.btn-primary');

			if (file) {
				if (file.size > 0) {
					uploadButton.innerText = 'Upload Successfully';
					uploadButton.style.backgroundColor = 'green';
				} else {
					uploadButton.innerText = 'Upload Failed';
					uploadButton.style.backgroundColor = 'red';
				}
			}
		}
	</script>

</body>

</html>